/NodeJs-Archive-Tool/[[]document/
/NodeJs-Archive-Tool/t.txt
/NodeJs-Archive-Tool/nbproject/private/
/NodeJs-Archive-Tool/[[]test/
/NodeJs-Archive-Tool/yarn-error.log
/NodeJs-Archive-Tool/local-config.js
/NodeJs-Archive-Tool/[[]test
